#todo {
  width: 90%;
  margin: 30px auto;
  padding: 30px;
  background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #00A3EF 100%);
  border: solid 1px black;
  height: 800px;
}

.toolbox {
  text-align: center;
}

.todo.complete h2 {
  text-decoration: line-through;
}

.completed {
  font-style: italic;
}

a {
  text-decoration: none
}

li {
  background-color: white;
  width: 100px;
  height: 100px;
  list-style: none;
  text-align: center
}

li h2 {
  padding-top: 10px;
}