#todo {
  width: 90%;
  margin: 30px auto;
  padding: 30px;
  background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #00A3EF 100%);
  border: solid 1px black;
}

.toolbox {
  text-align: center;
}

.todo.complete h2 {
  text-decoration: line-through;
}

.completed {
  font-style: italic;
}

a {
  text-decoration: none
}
