body {
	text-align: center;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

li {
  border-bottom: 1px solid;
  padding-bottom: 10px;
}

.check-mark {
  color: red;
  font-style: bold;
  font-size: 50px;
}