<div class="todo">
  <h2 id="content">
    <% if todo %>
      <%= todo.todo_content %>
    <% end %>
  </h2>
  <ul>
    <li><a href="#" data-id="" class="delete">Delete</a></li>
    <li><a href="#" data-id="" class="complete">Complete</a></li>
  </ul>
</div>