<div id="todo">
  <div class="toolbox">
    <form action="/todo" method="post">
      <input name ="todo_content" type="text" class="todo"/>
      <input type="submit" value="Add Todo"/>
      <!-- <button class="add" type="submit">Add Todo</button> -->
    </form>
  </div>

  <div class="todo_list">
    <%= erb :todo_partial %>
  </div>


  <div id="todo_template">
    <%= erb :completed_partial %>
  </div>
</div>
