<div id="todo">
  <div class="toolbox">
    <form id="add_todo" action="/todos" method="post">
      <input id="user_input" type="text" class="todo" name="todo_content"/>
      <input type="submit" value="Add Todo"/>
      <!-- <button class="add" type="submit">Add Todo</button> -->
    </form>
  </div>

  <div class="todo_list">
    <% if @todos %>

      <div id="todo_template">
        <% @todos.each do |todo| %>
            <div draggable="true" id="todo_template">
              <div class="todo">
                <% if todo.completed == true %>
                  <h2 class="completed-item"><%= todo.todo_content %></h2>
                <%else%>
                  <h2><%= todo.todo_content %></h2>
                <%end%>
                <ul>
                  <li><a data-id="<%= todo.id %>" href="#" class="delete">Delete</a></li>
                  <li><a data-id="<%= todo.id %>" href="#" class="complete">Complete</a></li>
                </ul>
              </div>
            </div>
        <% end %>

    </div>
    <% end %>
  </div>


</div>
