<div id="todo">
  <div class="toolbox">
    <form action="/todos" method="post">
      <input type="text" class="todo" name="todo_content" placeholder="Put your todo item here!"/>
      <input type="submit" value="Add Todo"/>
    </form>
  </div>

  <div class="todo_list">
    <% @todos.each do |todo| %>
    <div id="todo_template">
      <div class="todo">
        <h2 <% if todo.completed %>style="text-decoration: line-through;" <% end %> >
          <%= todo.todo_content %>
        </h2>
        <ul>
          <li><a href="#" class="delete">Delete</a></li>
          <li><a href="#" class="complete">Complete</a></li>
        </ul>
      </div>
    </div>
    <% end %>
  </div>

</div>
