<div id="todo">
  <div class="toolbox">
    <form action="/todos" method="post">
      <input type="text" class="todo" name="todo_content" placeholder="Put your todo item here!"/>
      <input type="submit" value="Add Todo"/>
    </form>
  </div>

  <div id="todo_template">
  <div id="new_todo"></div>
    <div class="todo">
      <h2>Todo Name</h2>
      <% @todos.each do |todo| %>
      <ul class="todo_list">
        <li><p><%= todo.todo_content %></p></li>
        <li><a href="#" class="delete">Delete</a></li>
        <li><a href="#" class="complete">Complete</a></li>
      </ul>
      <% end %>
    </div>
  </div>
</div>
