<div id="todo">
  <div class="toolbox">
    <form action="/todo_list" method="post">
      <input type="text" class="todo" name="todo_content" placeholder="Put your todo item here!"/>
      <input type="submit" value="Add Todo"/>
    </form>
  </div>

  <div class="todo_list">
    <% @todos.each do |todo| %>
      <%= erb :_todo, layout: false, :locals => { todo: todo } %>
    <% end %>
  </div>

  <script type="text/template" id="todo_template">
    <%= erb :_todo, layout: false, :locals => { todo: nil } %>
  </script>

</div>
