<div id="todo">
  <div class="toolbox">
    <form action="/add_todo" method="post" id="todo_form">
      <input id="todo_field" name="todo_content" type="text" class="todo" value="Put your todo item here!"/>
      <input type="submit" value="Add Todo"/>
      <!-- <button class="add" type="submit">Add Todo</button> -->
    </form>
  </div>

  <div class="todo_list">
    <% @todos.each do |todo| %>
      <%= erb :list_element, layout: false, locals: {todo: todo} %>
    <% end %>
  </div>
