<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/mustache.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <%= yield %>
  <div id="template">
    <div class='draggable'>
      <li class='pending'>
        <table>
          <td><input class='complete' type='checkbox' name='completed' disabled /></td>
          <td>{{content}}</td>
          <td><form class='delete' action='/todo/'>
            <input type='submit' class='delete' value='Delete' disabled>
          </form></td>
          <td><span class='status saving'>Saving...</span></td>
        </table>
      </li>
    </div>
  </div>
</body>
</html>