<ul>
  <% @todos.each do |todo| %>
  <div class="draggable" draggable="true">
    <li>
      <table>
        <td><input class="complete" value="/todo/<%= todo.id %>" type="checkbox" name="completed" <% if todo.completed %>checked<% end %> /></td>
        <td><%= todo.todo_content %></td>
        <td><form class="delete" action="/todo/<%= todo.id %>">
          <input type="submit" value="Delete">
        </form></td>
      </table>
    </li>
  </div>
  <% end %>
</ul>