<div class="single-todo">
  <h2 class="todo_name"><%= @new_todo.todo_content %></h2>
  <ul>
    <li><a href="/todos/<%= @new_todo.id %>" class="delete">Delete</a></li>
    <li><a href="#" class="complete">Complete</a></li>
  </ul>
</div>
